automation/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendmails-sbs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "674a0030-3cc1-418f-a491-4baacb1d0fcd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        8736,
        4064
      ],
      "webhookId": "sendmails-sbs-dash"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Sending started\" } }}",
        "options": {}
      },
      "id": "424364b0-8c52-46dd-a1c7-79dcf741ec6e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        9408,
        3680
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.sheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sUUpVcRs5tE1KzNGaVA4cnQShvr1eI1bvkO44jAsKtI/edit#gid=0"
        },
        "options": {}
      },
      "id": "04386d39-5b29-4132-b21f-5c8fc34ccd37",
      "name": "Read All Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        9408,
        3872
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HL2oexu75XGQWtzz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Exclude rows already sent. Aggressive email trim (spaces, NBSP, zero-width) so SMTP never sees bad addresses.\nfunction cleanStr(v) {\n  if (v === null || v === undefined) return v;\n  if (typeof v !== 'string') {\n    if (typeof v === 'number' && !Number.isNaN(v)) v = String(v);\n    else return v;\n  }\n  return v.replace(/[\\u200B-\\u200D\\uFEFF]/g, '').replace(/\\u00A0/g, ' ').trim();\n}\nfunction cleanEmail(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).replace(/[\\u200B-\\u200D\\uFEFF]/g, '').replace(/\\u00A0/g, ' ').trim();\n}\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const j = { ...(items[i].json || {}) };\n  for (const k of Object.keys(j)) {\n    if (typeof j[k] === 'string') j[k] = cleanStr(j[k]);\n  }\n  if ('Email' in j) j['Email'] = cleanEmail(j['Email']);\n  if ('email' in j) j['email'] = cleanEmail(j['email']);\n  for (const k of Object.keys(j)) {\n    if (/^email$/i.test(k.trim())) j[k] = cleanEmail(j[k]);\n  }\n  const sheetRow = j['Row'] ?? j['row'];\n  j.Row = (sheetRow !== undefined && sheetRow !== null && sheetRow !== '') ? Number(sheetRow) : (2 + i);\n  let sentVal = j['Email Sent'] ?? j['Email  Sent'] ?? j['email sent'] ?? '';\n  if (sentVal === undefined || sentVal === null) {\n    const key = Object.keys(j).find(k => k !== 'Row' && /email\\s*sent/i.test(String(k).trim()));\n    sentVal = key ? j[key] : '';\n  }\n  const sent = String(sentVal).toLowerCase().trim();\n  if (sent === 'sent') continue;\n  out.push({ json: j, pairedItem: { item: i } });\n}\nreturn out;"
      },
      "id": "b20ad101-7a88-4fc0-9873-fa36aa8d7ad5",
      "name": "Only Rows Not Yet Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9632,
        3872
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ ($json.Email ?? $json.email ?? '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11af96c8-cf50-4e40-beef-357b2003fc99",
      "name": "Has Email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        9856,
        3872
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cf9b1536-7649-4965-a553-07327110b95d",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        10080,
        3872
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge Subject and Body; normalize email again + _toEmail for SMTP (never spaces in To:).\nfunction cleanEmail(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).replace(/[\\u200B-\\u200D\\uFEFF]/g, '').replace(/\\u00A0/g, ' ').trim();\n}\nconst webhook = $('Webhook').first().json;\nconst body = webhook.body || webhook;\nlet subject = String(body.subject ?? webhook.subject ?? '');\nlet html = String(body.bodyHtml ?? webhook.bodyHtml ?? '');\nconst row = { ...$input.item.json };\nif ('Email' in row) row.Email = cleanEmail(row.Email);\nif ('email' in row) row.email = cleanEmail(row.email);\nconst _toEmail = cleanEmail(row.Email || row.email);\nfor (const [k, v] of Object.entries(row)) {\n  if (v === null || v === undefined) continue;\n  const val = String(v);\n  const placeholder = '{{' + k + '}}';\n  subject = subject.split(placeholder).join(val);\n  html = html.split(placeholder).join(val);\n}\nreturn { json: { ...row, _subject: subject, _html: html, _toEmail } };"
      },
      "id": "dfe4d3d5-e98f-4187-9147-5e8b364f1831",
      "name": "Prepare Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        3808
      ]
    },
    {
      "parameters": {
        "fromEmail": "SBS – Sustainable Business Solutions <info@sbsolutions-eg.com>",
        "toEmail": "={{ $json._toEmail || $json.Email || $json.email || '' }}",
        "subject": "={{ $json._subject }}",
        "html": "={{ $json._html }}",
        "options": {
          "appendAttribution": false,
          "attachments": ""
        }
      },
      "id": "bdeab4bc-e957-4186-aceb-79bdd1bab849",
      "name": "Send Email (Hostinger SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        10528,
        3808
      ],
      "webhookId": "c445eb1d-7e26-42ca-a9b8-68d7c71f5efa",
      "credentials": {
        "smtp": {
          "id": "mjmkq45zCgICgfQo",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $run?.error?.message ?? $json?.error?.message ?? $json?.error ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54d08a06-35ad-4a64-b866-78cbc63ec77a",
      "name": "Send OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10752,
        3808
      ]
    },
    {
      "parameters": {},
      "id": "6eabd313-b4a5-457e-a526-8ce1f9e7520e",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10976,
        3712
      ],
      "webhookId": "9c2229d9-27e2-4511-a2c3-a38106515223"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sent",
              "name": "Email Sent",
              "value": "Sent",
              "type": "string"
            },
            {
              "id": "clear-send-error",
              "name": "Send Error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0de2e227-2d9d-4347-9cdb-0b755b36e121",
      "name": "Mark Email Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11200,
        3712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Email Sent = Error + store SMTP/n8n error text in column \"Send Error\" (add this column to your sheet).\nconst j = { ...($input.item.json || {}) };\nlet msg = '';\nconst e = j.error;\nif (e && typeof e === 'object' && e.message) msg = String(e.message);\nelse if (typeof e === 'string') msg = e;\nif (!msg && j.message && typeof j.message === 'string') {\n  const looksLikeRow = j.Email != null || j.email != null || j.Name != null;\n  if (!looksLikeRow || String(j.message).length < 200) msg = String(j.message);\n}\nif (!msg) {\n  try {\n    const se = $('Send Email (Hostinger SMTP)').item?.json;\n    if (se?.error?.message) msg = String(se.error.message);\n    else if (typeof se?.error === 'string') msg = se.error;\n  } catch (_) {}\n}\nif (!msg) msg = 'Send failed — open this execution in n8n to see the error.';\nj['Email Sent'] = 'Error';\nj['Send Error'] = msg.replace(/\\s+/g, ' ').trim().slice(0, 500);\ndelete j.error;\nreturn { json: j };"
      },
      "id": "4ae93be9-9fec-4468-a0a3-2c30e731dadc",
      "name": "Mark Email Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11200,
        3904
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Webhook').first().json.body.sheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sUUpVcRs5tE1KzNGaVA4cnQShvr1eI1bvkO44jAsKtI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Error",
              "displayName": "Send Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coures",
              "displayName": "Coures",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0f56bacb-51e4-4fde-b047-5daa9e4859ac",
      "name": "Update Row as Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        11424,
        3872
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HL2oexu75XGQWtzz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## SBS Sendmails (single webhook)\n\n• **One webhook** receives: sheetUrl and action (preview or send).\n• **action = preview**: returns sheet columns + sample row.\n• **action = send**: responds immediately then reads sheet and sends emails (with subject and bodyHtml).\n• Use in Body and Subject: **{{Name}}**, **{{Email}}**, **{{Coures}}**, etc.",
        "height": 240,
        "width": 360,
        "color": 4
      },
      "id": "1fc4cce1-f29f-4f03-8af5-8ccb9179d2eb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8496,
        3616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-preview",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "preview",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9007b33-f53e-4983-90ac-b4349d1eaace",
      "name": "Action = preview?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8960,
        4064
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Webhook').first().json.body.sheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sUUpVcRs5tE1KzNGaVA4cnQShvr1eI1bvkO44jAsKtI/edit#gid=0"
        },
        "options": {}
      },
      "id": "57553b1d-7689-4da0-a97d-39bb2b9d5fa0",
      "name": "Read Sheet Preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        9184,
        4256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HL2oexu75XGQWtzz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [{ json: { columns: [], sampleRow: {}, error: 'No data' } }];\nconst first = items[0].json;\nconst columns = Object.keys(first);\nconst sampleRow = { ...first };\nreturn [{ json: { columns, sampleRow } }];"
      },
      "id": "7e67d6e6-6c9b-4594-87ea-2105e7c94a66",
      "name": "Prepare Preview Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9408,
        4256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "20a53f46-2f96-44f9-a292-bc1aa3e25035",
      "name": "Respond Preview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        9632,
        4256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-status",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71cec7f5-b734-40b2-aac7-23804b8d4ba4",
      "name": "Action = status?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9184,
        3872
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.sheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sUUpVcRs5tE1KzNGaVA4cnQShvr1eI1bvkO44jAsKtI/edit#gid=0"
        },
        "options": {}
      },
      "id": "5ed74255-b135-47c6-b5c5-9be4162b4475",
      "name": "Read Sheet for Status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        9408,
        4064
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HL2oexu75XGQWtzz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count sent vs pending from sheet for dashboard status.\nconst items = $input.all();\nlet sent = 0;\nlet pending = 0;\nlet lastSentRow = 0;\nconst emailSentKey = (row) => {\n  const k = Object.keys(row).find(key => key !== 'Row' && key !== 'row_number' && /email\\s*sent/i.test(String(key).trim()));\n  return k || 'Email Sent';\n};\nconst emailVal = (row) => String((row['Email'] ?? row['email'] ?? '')).trim();\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json || {};\n  const rowNum = (j['row_number'] != null) ? Number(j['row_number']) : (j['Row'] != null && j['Row'] !== '') ? Number(j['Row']) : (2 + i);\n  const sentVal = j[emailSentKey(j)];\n  const sentStr = String(sentVal ?? '').toLowerCase().trim();\n  if (sentStr === 'sent') {\n    sent++;\n    lastSentRow = Math.max(lastSentRow, rowNum);\n  } else {\n    if (emailVal(j).length > 0) pending++;\n  }\n}\nconst total = items.length;\nconst nextRowToSend = lastSentRow > 0 ? lastSentRow + 1 : 2;\nreturn [{ json: { ok: true, sent, pending, total, lastSentRow, nextRowToSend } }];"
      },
      "id": "68fba539-45d6-45cc-8af1-c91af3aa9fe8",
      "name": "Compute Status1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9632,
        4064
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "45762977-ce88-4a21-ad2f-bab24df3d891",
      "name": "Respond Status1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        9856,
        4064
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Action = preview?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Rows": {
      "main": [
        [
          {
            "node": "Only Rows Not Yet Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Rows Not Yet Sent": {
      "main": [
        [
          {
            "node": "Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Prepare Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Body": {
      "main": [
        [
          {
            "node": "Send Email (Hostinger SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Hostinger SMTP)": {
      "main": [
        [
          {
            "node": "Send OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OK?": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Mark Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Sent": {
      "main": [
        [
          {
            "node": "Update Row as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Error": {
      "main": [
        [
          {
            "node": "Update Row as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row as Sent": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action = preview?": {
      "main": [
        [
          {
            "node": "Read Sheet Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action = status?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet Preview": {
      "main": [
        [
          {
            "node": "Prepare Preview Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Preview Data": {
      "main": [
        [
          {
            "node": "Respond Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action = status?1": {
      "main": [
        [
          {
            "node": "Read Sheet for Status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet for Status1": {
      "main": [
        [
          {
            "node": "Compute Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Status1": {
      "main": [
        [
          {
            "node": "Respond Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "060bc88294a96d5f2cd2b7733be4bcb1adb3c853f2f7840a2fd87c45001adad5"
  }
}